/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF RESET  */

/* * Debug */
/* .debug{
  background-color: salmon;
  border:1px solid yellow;
} */

/* Clearfix */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* END OF Clearfix */

/* GENERAL RULES */

/* Font */
body{
  font-family: 'Roboto', sans-serif;
}

/* Links */
a{
  text-decoration: none;
  color: inherit;
}

/* Texts style */
.text_bold{
  font-weight: 600;
}

.text_grey{
  color: #b1b1b1;
}

/* Lists */
ul li{
  list-style: none;
}

/* Images */
img{
  width: 100%;
  height: 100%;
}

.avatar img{
  border-radius: 50%;
  padding: 10px;
}

/* Icons */
.icons_style i{
  color: #b1b1b1;
  font-size: 20px;
  padding: 0 7px;
  cursor: pointer
}


/* MAIN WRAPPER  */
.main_wrapper{
  height: 100vh;
  width: 100%;
  background: rgb(212,219,218);
  background: -webkit-linear-gradient(bottom, rgba(212,219,218,1) 59%, rgba(0,150,138,1) 59%);
  background: -o-linear-gradient(bottom, rgba(212,219,218,1) 59%, rgba(0,150,138,1) 59%);
  background: linear-gradient(to top, rgba(212,219,218,1) 59%, rgba(0,150,138,1) 59%);
  padding: 25px 100px;
}


/* END OF MAIN WRAPPER */

/* CONTAINER */

.container {
  background-color: #ffffff;
  margin: 100px 0;
  height:100%;
  max-width: 1300px;
  margin: 0 auto;
}
/* END OF CONTAINER */



/************************** LEFT SIDE ******************/
.container .left_side{
  width:400px;
  height: 100%;
  float: left;
  background-color: #eaeaea;
}

/* Top left side LEFT */

.top_left_side{
  display: flex;
  height: 70px;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.profile{
  height: 100%;
  flex-basis: 70px;
}


/* Top right side LEFT */
.top_right_side{
  flex-basis: 200px;
  text-align: right;
}

.top_right_side .list_options li{
  display: inline-block;
}
.top_right_side .list_options li:last-child{
  padding-right: 15px;
}
/* Notifies */
.notifies{
  height: 100px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.notifies >*{
  display: inline-block;
}
.notify_bell{
  background-color: #ffffff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;

}
.notify_bell i{
  color: #8edafc;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notifies_text li{
  padding: 4px 10px;
}
.notifies_text a{
  text-decoration: underline;
}

/* Serach */
.search{
  background-color: #ffffff;
  margin: 7px;
  margin: 7px;
  height: 35px;
  text-align: center;
  font-size: 18px;

}
.search > *{
  height: 100%;
  color: #b1b1b1;
  margin-left: 7px;
}
.search input{
  color: black;
  font-size: 16px;
  width: 345px;
  border: none;
  outline-color: purple;
}

/* Chat list */
.chat_list{
  height: calc(100% - 205px);
  overflow: auto;
}

/* Single chat */
.single_chat{
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-bottom: 1px solid #eaeaea;
}

.single_chat:hover{
  cursor:pointer;
  background-color: #fcfcfc;
}
/* .single_chat > *{
  display: inline-block;
} */

.single_chat .avatar {
  margin: 0 10px;
  width: 100px;
  vertical-align: middle;
  padding: 0px;
}

.last_message{
  padding: 5px 0;
}

.name_access{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.single_chat .contact_infos ul{
  width: 100%;
}

.contact_infos{
  flex-grow: 1;
}


/* END OF LEFT SIDE */

/*********************** RIGHT SIDE *******************/
.container .right_side{
  background-color:#eaeaea;
  height: 100%;
  width: calc(100% - 400px);
  float: left;
}

.right_side .chat_container{
  height: calc(100% - 130px);
  background-image: url(../img/mine.jpg);
  overflow: auto;
}




.right_side{
  border-left: 1px solid #b1b1b1;
}

/* CHAT */

.chat_container{
  overflow: scroll;
  position: relative;
}

.chat_container .chat_message{
  position: relative;
  line-height: 20px;
  padding: 0 15px;
  border-radius: 15px;
  min-width: 130px;
  max-width: 50%;
  display: inline-block;
  min-height: 50px;
  word-break: break-all;
  display: flex;
  align-items: center;
  clear: both;
}
.chat_message .time{
  position: absolute;
  bottom: -2px;
  right: 10px;
  font-size: 11px;
}

.chat_message .arrow{
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
}

.message_baloon{
  height: 60px;
  margin: 0px 60px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(235,235,235,);
}



.sent_message{
  margin-left: 20px;
}

.chat_container .sent{
  background-color: #d5f9ba;
  float: right;

}

.chat_container .received{
  background-color: #ffff;
  float: left;

}


/* Dropdown */
.dropdown{
  background-color: #b1b1b1;
  position: absolute;
  bottom: -66px;
  left: -49px;
  height: 70px;
  width: auto;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(235,235,235,1);
  z-index: 1;
}

.dropdown li{
  padding: 3px;
}

.dropdown li:hover{
  cursor: pointer;
  color: #ffff;
}

.chat_history{
  display: none;
}

/* BOTTOM RIGHT MESSAGE AREA */

.right_side .bottom_right{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3eeea;
  height: 75px;
  width: 100%;
}

.emoji{
  margin: 0 10px;
  position: relative;
}

.emoji_dropdown{
  padding: 5px;
  position: absolute;
  background-color: #ffffff;
  width: 200px;
  min-height: 90px;
  bottom: 200%;
  left: 0%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(235,235,235);
  opacity: 95%;
}
.emoji_dropdown li{
  display: inline-block;
  padding: 10px 5px;
}

.emoji i:hover{
  color: black;
}


.bottom_right i{
  font-size: 30px;
}
.bottom_right .message_input{
  flex-grow: 1
}
.bottom_right .message_input input{
  height: 50px;
  width: 100%;
  font-size: 16px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  outline-color: purple;
}

.bottom_right .message_input .placeholder{
  padding-left: 30px;
}
.bottom_right .send{
  margin-right: 15px;
  margin-left: 25px;

}

/* END OF RIGHT SIDE */


/* ACTIVE AND HIDDEN */

.active{
  display: block;
}

.hidden{
  display: none;
}

.selected_chat{
  background-color: #eaeaea;

}
